<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio itaque excepturi consectetur, numquam,
      reprehenderit autem vel blanditiis similique dolore repudiandae saepe consequatur iste expedita molestias quaerat
      velit exercitationem minus sunt.</p>
      
  </div>
</div>