<div class="bg-light p-5 rounded">
  <h1 class="display-4">Notes App, NodeJs and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat provident ut ad suscipit exercitationem nemo
    quam! Qui, nulla illo itaque, et ullam eligendi tenetur laudantium velit voluptas architecto veritatis cum?</p>
  <a href="sss" class="btn btn-primary btn-lg">Sigueme</a>
</div>