<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container">

    <a class="navbar-brand mx-auto" href="/">Notes APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/about">About</a>
      </div>
      <div class="navbar-nav ml-auto">
        {{#if user}}
        <a class="nav-item dropdown nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Notes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/notes">List Notes</a>
          <a class="dropdown-item" href="/notes/add">New Note</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
        {{else}}
        <a class="nav-item nav-link" href="/users/signin">SignIn</a>
        <a class="nav-item nav-link" href="/users/signup">SignUp</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>